.serviceItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.serviceItem img {
  width: 92px;
}

.serviceItem h2 {
  font-size: 32px;
  margin-top: 44px;
  margin-bottom: 18px;
}

.serviceItem p {
  font-size: 24px;
  color: #12273d;
  text-align: center;
}

@media (max-width: 830px) {
  .serviceItem p {
    font-size: 20px;
  }
}

@media (max-width: 675px) {
  .serviceItem img {
    width: 72px;
  }

  .serviceItem h2 {
    font-size: 28px;
  }

  .serviceItem p {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .serviceItem img {
    width: 64px;
  }

  .serviceItem h2 {
    font-size: 24px;
  }

  .serviceItem p {
    font-size: 16px;
  }
}
