.services {
  background-image: url("../../../assets/carBackground.png");
  max-width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(202, 201, 201);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
}

.services h1 {
  margin-top: 64px;
  font-size: 96px;
  color: rgb(240, 240, 240);
}

.miniTitle {
  font-size: 52px;
  font-weight: bold;
  color: #12273d;
  position: absolute;
  top: 135px;
}

.servicesList {
  width: 90%;
  margin-top: 72px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 580px) {
  .services h1 {
    font-size: 84px;
  }

  .miniTitle {
    font-size: 45px;
  }

  .servicesList {
    width: 95%;
  }
}

@media (max-width: 530px) {
  .services {
    height: 1100px;
  }
  .servicesList {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .services h1 {
    font-size: 72px;
  }

  .miniTitle {
    top: 120px;
    font-size: 40px;
  }
}

@media (max-width: 415px) {
  .services h1 {
    font-size: 56px;
  }

  .miniTitle {
    top: 100px;
    font-size: 36px;
  }
}
