.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto 100px;
  width: 95%;
}

.text {
  width: 700px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: 500px;
  margin-top: 100px;
  position: relative;
}

.text h1 {
  font-size: 96px;
  margin-top: -50px;
  margin-bottom: 45px;
  opacity: 0.35;
}

.text h2 {
  font-size: 36px;
  color: brown;
  position: absolute;
  top: 25px;
  left: 15px;
}

.paragraphOne {
  font-size: 21px;
  margin-bottom: 18px;
}

.aboutImages {
  position: relative;
  margin-right: 50px;
}

.wall {
  z-index: 0;
}

.carWall {
  z-index: 10px;
  width: 420px;
  position: absolute;
  right: 0;
}

@media (max-width: 1050px) {
  .text h1 {
    font-size: 90px;
  }

  .aboutImages {
    margin-right: 0;
  }

  .carWall {
    width: 380px;
  }

  .wall {
    width: 400px;
  }
}

@media (max-width: 905px) {
  .text h1 {
    font-size: 80px;
  }

  .aboutImages {
    margin-right: 0;
  }

  .carWall {
    width: 300px;
  }

  .wall {
    width: 325px;
  }

  .paragraphOne {
    font-size: 19px;
  }
}

@media (max-width: 870px) {
  .about {
    margin-top: 40px;
  }
}

@media (max-width: 770px) {
  .text {
    margin-top: 65px;
  }

  .text h1 {
    font-size: 70px;
  }

  .text h2 {
    top: 0;
  }

  .paragraphOne {
    font-size: 17px;
  }
}

@media (max-width: 720px) {
  .text h1 {
    font-size: 60px;
  }
  .paragraphOne {
    font-size: 16px;
  }
  .carWall {
    width: 230px;
  }

  .wall {
    width: 260px;
  }

  .about {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .text {
    margin-top: 40px;
  }

  .paragraphOne {
    font-size: 14px;
    margin-top: -12px;
    font-size: 13px;
  }

  .text h1 {
    font-size: 48px;
  }

  .text h2 {
    font-size: 28px;
    top: -15px;
  }
}

@media (max-width: 530px) {
  .aboutImages {
    display: none;
  }

  .about {
    margin-top: 40px;
  }

  .text {
    align-items: center;
    height: 350px;
  }

  .text h2 {
    left: 210px;
  }

  .paragraphOne {
    width: 430px;
    text-align: center;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .text h2 {
    left: 140px;
  }

  .paragraphOne {
    width: 390px;
  }

  .text {
    height: 365px;
  }
}

@media (max-width: 415px) {
  .text {
    height: 520px;
  }

  .text h2 {
    left: 155px;
  }

  .paragraphOne {
    width: 310px;
  }
}
