nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding-top: 25px;
}

.logo {
  color: white;
  font-size: 32px;
}

.logo span {
  font-weight: bold;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navItems ul {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  gap: 35px;
  font-size: 21px;
  margin-right: 24px;
}

.navItems ul li {
  cursor: pointer;
}

.navItems ul li:first-child {
  padding: 2px 4px;
  background-color: brown;
  border-radius: 5px;
}

.cartLogo {
  cursor: pointer;
}

.numberOfItems {
  position: absolute;
  top: -15px;
  right: -12px;
  color: black;
  background-color: wheat;
  padding: 2px;
  border-radius: 8px;
}
