nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  padding-bottom: 15px;
  padding-top: 15px;
}

nav.sticky {
  width: 100%;
}

.logo {
  color: white;
  font-size: 32px;
}

nav.sticky .logo {
  color: black;
}

.logo span {
  font-weight: bold;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navItems ul {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  gap: 35px;
  font-size: 21px;
  margin-right: 24px;
}

nav.sticky .navItems ul {
  color: black;
}

.navItems ul li {
  cursor: pointer;
  padding: 2px 4px;
}

.navItems ul li:hover {
  margin: 0;
  background-color: brown;
  border-radius: 5px;
  color: white;
}

.cartLogo {
  cursor: pointer;
  color: white;
}

.cartLogoSticky {
  color: black;
}

.numberOfItems {
  position: absolute;
  top: -15px;
  right: -12px;
  color: black;
  background-color: wheat;
  padding: 2px;
  border-radius: 8px;
}
