nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  padding-bottom: 15px;
  padding-top: 15px;
}

nav.sticky {
  width: 100%;
  box-shadow: 1px 0 16px rgba(0, 0, 0, 0.3);
}

.logo {
  color: white;
  font-size: 32px;
}

nav.sticky .logo {
  color: black;
}

.logo span {
  font-weight: bold;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navItems ul {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  gap: 35px;
  font-size: 21px;
  margin-right: 24px;
}

nav.sticky .navItems ul:hover {
  color: white;
}

.navItems ul li {
  cursor: pointer;
}

nav.sticky .navItems ul li {
  color: white;
}

nav.sticky .navItems ul li:hover {
  color: white;
}

.navItems ul li a {
  padding: 2px 4px;
  color: white;
  text-decoration: none;
}

nav.sticky .navItems ul li a {
  color: black;
}

nav.sticky .navItems ul li a:hover {
  color: white;
}

.navItems ul li:hover {
  margin: 0;
  background-color: brown;
  border-radius: 5px;
  color: white;
}

.cartLogo {
  cursor: pointer;
  color: white;
}

.numberOfItems {
  position: absolute;
  top: -15px;
  right: -12px;
  color: black;
  background-color: wheat;
  padding: 2px;
  border-radius: 8px;
}

.listInPhone {
  display: none;
  color: white;
  margin-left: 20px;
  cursor: pointer;
}

.cartLogoSticky {
  color: black;
}

@media (max-width: 800px) {
  .navItems ul {
    display: none;
  }

  .numberOfItems {
    right: 35px;
  }

  .listInPhone {
    display: block;
  }
}

@media (max-width: 770px) {
  nav {
    background-color: white;
    padding-bottom: 7px;
  }

  .logo {
    color: black;
  }

  .cartLogo {
    color: black;
  }

  .listInPhone {
    color: black;
  }
}

@media (max-width: 425px) {
  nav {
    padding-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
