.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  padding: 80px 0;
  margin: 0 auto;
}

.above {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 90px;
}

.about {
  width: 350px;
}

.about h1 {
  color: brown;
  font-weight: 400;
  margin-bottom: 22px;
}

.about h1 span {
  font-weight: bold;
}

.about p {
  color: #12273d;
  font-size: 16px;
  margin-bottom: 12px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.letter h1 {
  color: brown;
  margin-bottom: 22px;
}

.letter p {
  font-size: 16px;
  color: #12273d;
  width: 250px;
  text-align: center;
  margin-bottom: 16px;
}

.mailInput {
  margin-bottom: 20px;
}

.mailInput input {
  padding: 8px 18px;
  margin-right: 12px;
  border: 1px solid brown;
}
.mailInput button {
  padding: 8px 14px;
  background-color: brown;
  border: none;
  color: white;
  cursor: pointer;
}

.socialLogos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.contact h1 {
  color: brown;
  margin-bottom: 22px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 250px;
  margin-bottom: 18px;
}

.phoneNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 18px;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.lower {
  padding-top: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-top: 1px solid brown;
}

@media (max-width: 1045px) {
  .above {
    gap: 40px;
  }

  .about {
    width: 250px;
  }
}

@media (max-width: 1000px) {
  .mailInput {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 850px) {
  .above {
    gap: 10px;
  }
  .about {
    width: 190px;
  }
  .footer {
    width: 100%;
  }

  .mailInput input {
    padding: 8px 4px;
  }
}

@media (max-width: 720px) {
  .above {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact {
    margin-top: 10px;
    margin-left: 20px;
  }
}
