.testimonial {
  position: relative;
  margin: 100px;
  margin-top: 0;
}

.testimonialItem {
  background-color: white;
  margin-top: 15px;
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  font-style: italic;
}

.stars {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

.reviewer {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  text-align: center;
  gap: 20px;
}

.reviewerName {
  font-size: 32px;
  color: #12273d;
}

.reviewerCity {
  font-size: 18px;
  font-style: italic;
  opacity: 0.7;
}

.testimonialImage {
  position: absolute;
  top: 430px;
  right: -90px;
}

.testimonialImage img {
  width: 280px;
}

@media (max-width: 1450px) {
  .testimonialImage {
    right: -100px;
  }
  .testimonialImage img {
    width: 260px;
  }
}

@media (max-width: 1325px) {
  .testimonialImage {
    right: -120px;
  }
}

@media (max-width: 1230px) {
  .testimonialImage img {
    width: 240px;
  }
}

@media (max-width: 1230px) {
  .testimonialImage img {
    width: 240px;
  }
}

@media (max-width: 1160px) {
  .testimonialImage img {
    width: 225px;
  }

  .reviewerName {
    font-size: 28px;
  }
}

@media (max-width: 1110px) {
  .testimonialImage img {
    width: 215px;
  }

  .reviewerName {
    font-size: 24px;
  }

  .testimonialImage {
    right: -115px;
  }
}

@media (max-width: 1035px) {
  .feedback {
    font-size: 21px;
  }

  .reviewer {
    gap: 10px;
  }

  .reviewerName {
    font-size: 21px;
  }
}
