.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #12273d;
  padding: 45px 0;
  position: relative;
}

.bigHeader {
  font-size: 96px;
  color: white;
  margin-top: 20px;
  opacity: 0.25;
}

.miniHeader {
  color: white;
  font-size: 52px;
  margin-top: -45px;
  margin-bottom: 52px;
}

.testimonialsList {
  width: 55%;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .testimonialsList {
    width: 75%;
  }
}

@media (max-width: 750px) {
  .bigHeader {
    font-size: 75px;
  }

  .testimonialsList {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .miniHeader {
    font-size: 35px;
    margin-top: -20px;
  }

  .bigHeader {
    font-size: 65px;
  }
}

@media (max-width: 525px) {
  .testimonials {
    padding: 30px 20px;
  }

  .bigHeader {
    font-size: 55px;
  }

  .miniHeader {
    font-size: 30px;
  }
}
